.container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .content {
    text-align: center;
  }
  
  .component {
    margin-bottom: 20px; /* Adjust margin as needed */
  }